USE [master]
GO
/****** Object:  Database [Chart]    Script Date: 1/1/2017 7:44:44 PM ******/
CREATE DATABASE [Chart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chart', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Chart.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Chart_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Chart_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chart]
GO
/****** Object:  Table [dbo].[Chart2]    Script Date: 1/1/2017 7:44:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chart2](
	[Chart_Id] [int] NOT NULL,
	[Growth_Year] [int] NULL,
	[Growth_Value] [int] NULL,
 CONSTRAINT [PK_Chart2] PRIMARY KEY CLUSTERED 
(
	[Chart_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Chart2] ([Chart_Id], [Growth_Year], [Growth_Value]) VALUES (1, 2007, 300)
INSERT [dbo].[Chart2] ([Chart_Id], [Growth_Year], [Growth_Value]) VALUES (2, 2008, 560)
INSERT [dbo].[Chart2] ([Chart_Id], [Growth_Year], [Growth_Value]) VALUES (3, 2010, 190)
USE [master]
GO
